.Main-Header{
  display: flex;
  justify-content: center;
  font-family: 'Petit Formal Script', cursive;
  color: #f54d4d;
  font-size: 75px;
}

.Slogan{
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FBFCFC;
  font-size: 25px;
}

.topnav {
  overflow: hidden;
  background-color: #f54d4d;
  display: flex;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

.Home:hover {
  background-color: #E6E6E6;
  color: white;
}

.Male:hover {
  background-color: #E6E6E6;
  color: white;
}

.General:hover {
  background-color: #E6E6E6;
  color: white;
}

.Female:hover {
  background-color: #E6E6E6;
  color: white;
}

.Non-Binary:hover {
  background-color: #E6E6E6;
  color: white;
}


.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Input-Bar{

  display: flex;
  justify-content: center;
  margin-top: 420px;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 240px;


}

.submit-btn{
margin-right: -300px;
justify-content: center;
margin-top: 20px;
padding-left: 40px;
}


input[type=submit] {
  border: none;
  height: 45px;
  width: 120px;
  font-size: 20px;
  color: black;
  background-color:#f54d4d;
}

.one{
  font-size: 14px;
  border-color: #f54d4d;
  border-style: solid;
  margin-top:20px;
  margin-bottom: 45px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 25px;
}
